.flex-custom {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  padding: 30px;
  position: "relative";
  height: 100vh;
}

.flex-buttom-custom {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.task-child-custom {
  
}
